// ***** Generic *****

body {
    margin: 1rem;
    background-color: rgb(27, 27, 27);
    font-family: 'KoHo', sans-serif;
}

.container-expander {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

// ***** Navigation *****

.navbar {
    background-color: rgb(27, 27, 27);

    & .navbar-brand {
    font-weight: bold;
    }

    & .navbar-toggler {
        border: 0;
    }

    & .navbar-nav a {
        font-weight: bold;
    }
}



// ***** Hero Image *****

.header {
    max-width: 100%;
    height: 90vh;
    background: url("../images/hero.jpg") no-repeat bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

// ***** Jumbotron *****

.jumbotron {
    background-color: transparent;

    &__heading {
        color: rgb(248, 249, 250);
        font-weight: 700;
        margin-bottom: 2rem;
    }

    & .lead {
        color: rgb(167, 167, 167);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    & .small {
        font-size: .7rem;
        margin-top: 1rem;
        color: rgb(248, 249, 250);
    }
}

// ***** Quotes *****

.quotes-wrapper {
    padding-top: 2rem;
}

// ***** Features *****

.features-wrapper {
    background-color: rgb(228, 136, 108);
}

.btn {
    border-radius: 1.5rem;
    font-weight: 700;

    &--jumbotron {
        width: 10rem;
    }

    &--features {
        min-width: .7rem;
        color: rgb(228, 136, 108);
    }
}

@media (max-width: 440px) and (max-height: 800px) {

    .header-spacer {
        width: 100%;
        height: 10rem;
    }

    .jumbotron {
        &__heading {
            font-size: 2rem;
        }

        & .lead {
            font-size: 1rem;
        }
    }
}